<div class="event-photo buffer-both">
  <% @img_title = capture do %>
      <div class="event-photo-title">
        Добавил <%= render partial: 'users/user', object: photo.user %>
      </div>
  <% end %>
  <%= link_to(image_tag(photo.photo.thumb.url, class: "img-fluid"),
              photo.photo.url, {
                  'data-title': @img_title,
                  'data-gallery': "event-gallery",
                  'data-toggle': "lightbox"
              })
  %>
</div>